html, body {
  font-family: $system-font;
  font-size: 100%;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

