@media screen and (max-width: $medium) and (min-width: $small) {
  .layout {
    margin: 30px 15px;
    .column {
      width: 27%;
      margin-bottom: 10px;
      float: none;
    }
    .column-first {
      width: 71%;
      float: right;
      text-align: left;
    }
    .column-first .imageItem {
      width: 31.8%;
    }
  }
}
@media screen and (max-width: $small) {
  .layout {
    margin: 20px 10px;
    .column {
      width: 100%;
      margin-bottom: 20px;
    }
    .column-first {
      width: 100%;
      margin: 0 0 20px 0;
      float: none;
    }
    .column-first .imageItem {
      width: 49%;
    }
  }
}
